.gitignore
*.gif
images/screenshot_snippets.png
images/screenshot.png
images/screenshot_hoversnippets.jpg
images/screenshot_snippets.png
images/*.gif
.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
tsconfig.json